
.container{
    text-align: center;
    width: 85vw;
    margin: 0px auto;
    .brandLogo{
        height: 10vh; 
            img{
                width: 80%;
                height: 60%;
                margin: 15px auto;
            }
        }
}

@media (max-width:1009px){
    .container{
        .brandLogo{
            height: 20vh;
            img{
                margin: 20px auto;
            }
        }
    }
    
}
