
.container{
    text-align: center;
    width: 70vw;
    margin: 0px auto;
    .brandLogo{
        height: 10vh; 
            img{
                width: 60%;
                height: 40%;
                margin: 25px auto;
            }
        }
}

@media (max-width:1009px){
    .container{
        .brandLogo{
            height: 20vh;
            img{
                width: 80%;
                height: 60%;
                margin: 30px auto;
            }
        }
    }
}
