.footer{
    width:85%;
    padding: 50px 0px;
    color:#444;
    li{
        list-style-type: none;
        a:hover{
            text-decoration: underline;
        }
    }
    .footerRow1{
        display: flex;
        justify-content: space-around;
        .logo{
            .socialLinks{
                i{
                    font-size: 18px;
                    padding: 9px;
                }
             }
        }
        
        .footerLinks{
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .linkColumn{
                h2{
                    padding-left: 0rem;
                    margin:0px 0px;
                }
                ul{
                    padding-left: 0px;
                }
                li{
                    padding: 0.5em 0;
                }
            }
            
        }
    }
    .footerRow2{
        border-top: 1px solid;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        .systemStatus{
            font-size: 14px;
           a{
               font-weight: 800;
               padding: 5px;
               .active{
                   font-size: 10px;
                   color: green;
                   margin: 2px;
               }
               &:hover{
                color: #000
               }
           }
        }

        .legalLinks{
            li{
                display: inline-block;
                padding-right: 20px;
                font-size: 18px;
            }
        }
    }
}

@media (max-width:1024px){
    .footer{
        .footerRow1{
            flex-direction: column;
            align-items: center;
            text-align: center;
            .footerLinks{
                padding-top: 20px;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
@media (max-width:524px){
    .footer{
        .footerRow2{
            flex-direction: column;
            text-align: center;
        }
    }
}
