.slick-prev:before, .slick-next:before {
    font-family: FontAwesome;
    font-size: 50px;
    color: #000;
    opacity: 0.5;
    margin: 10px;
    
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}   
.slick-prev{
    left: -7%; 
    right: 25%; 
    height: 50px;
}

.slick-prev:before { 
    content: "\f053";
    top: 50%; 
}
[dir="rtl"] .slick-prev:before{
    content: "\f054"; 
}

.slick-next{
    height: 50px;
}
.slick-next:before {
    content: "\f054"; 
}

